.home{
    background-color: #111430;
    background-size: cover;
    height:120vh;
    width:120vw;
    padding:20%;
    margin-top:-13%;
    color:white;
}
.profile{
    height:100px;
    border-radius: 50%;
    background-color: white;
}
.color-back{
    background-color: darkorange;
    color: white;
}
.white-icon{
    color:white;
    font-size:50px!important;
    margin-right: 10px;
}
.typewriter {

	display: inline-block;
}

.typewriter .name {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 2s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange	; 
    }
}