.projectDetails {
    background: linear-gradient(to bottom,#C6DEFF 20%, #EBF4FA 100%);
    background-size: cover;
    height:133vh;
    padding:10%;
    margin-top:-3.3%;
    

}
.sideImage{
    width:400px;
    height:auto;
    box-shadow: 0 0 10px#98AFC7;
}
.right-side .link{
    color:black;
}
.right-side .link:hover{
    text-decoration:none;
}
.codeul{
    margin-top:-6px;
}
